body {
    margin: 0;
    padding: 0;
    background: wheat;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5), 0 20px 100px rgba(0, 0, 0, .5);
    transition: 1s;
}

.card:hover {
    transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5), 0 10px 100px rgba(0, 0, 0, .5);
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: purple;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card:after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: purple;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
    z-index: 1;
    transition: 1s cubic-bezier(.15, 1.7, .84, .58);  
}

.card:hover .imgBox{
    transform: rotateY(-135deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}

.card .details h4 {
    position: relative;
    top: -180px;
    left: -20px;
    text-align: center;
    color: #222222;
}

.card .details p {
    position: relative;
    top: -100px;
    left: -20px;
    text-align: center;
    justify-content: center;
    color: #222222;
}

.card .detailson{
    position: absolute;
    padding: 20px;
    width: 100%;
    height: 40%;
    bottom: -105px;
    left: 0;
    z-index: 5;
}

.card .detailson h2 {
    position: relative;
    color: gold;
    margin: 0;
    padding: 0;
    top: 20px;
}

.card .rating {
    position: relative;
    padding: 5px 0;
    top: 20px;
}

.rating .fa {
    color: gold;
    margin-right: 2px;
    font-size: 14px;
}

.card .details .imgframe{
    position: relative;
    left: -17px;
    top: -40px;
}